
.container{
    background: url(./images/home/showcase.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
 
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.hero{
    background: rgba(33, 33, 33, 0.7);
width: 100%;
display: flex;
flex-direction: column;
position: relative;





}

.hero .brand{
    display: flex;
    color: white;
    align-items: center;
    z-index: 1;
    margin-left: 0;
}
.hero .brand i, .hero .brand span{
    color: var(--color-1);
}
.hero .col i, .hero .col h1{
    font-size: 1rem;
    
}

.hero .menu{
    display: flex;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;

}
.hero .menu ul{
    display: flex;
    align-items: center;
    padding: 0;
}

.hero .menu li{
 
    margin-right: 1rem;
    padding: 0;
    
 }
 .hero .menu a{
    margin-top: 0;
    font-size: 13px;
    
 }
 .hero .menu a:hover{
    padding-bottom: 0;
    border-bottom: 3px solid var(--color-1);
 }

 .container .sky{
    position: relative;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: inline;
    text-align: center;
 }
 .sky h1{
    color: white;
    font-size: 1.5em;
    line-height: 1rem;
    
}
.sky h3{
    color: white;
    font-size: 1rem;
    padding:  0;
    line-height: 2rem;
    margin: 4rem 0;
}

 .sky a{
    color: white;
   background-color: var(--color-1);
    font-size: 15px;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.main .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.provide .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.provide .column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.provide .column-1, .blog .column-2{
height: 100%;

}
.provide .column-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 0;
 
}
.provide .column-2{
    background-color: var(--color-1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    color: white;
    margin-top: 0;
    text-align: center;
}
.provide .row .column-2 h5{
    font-weight: 400;
}
.provide .row .column-2 h1{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
}
.provide .row .column-2 p{
    line-height: 1rem;
    font-size: 10px;
}
.provide .row .column-2 a{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 10px;
    
    padding: .3rem .4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 1rem;
}







.casesTexts{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.casesTexts h5{
    font-weight: bold;
}
.casesTexts h1{
    font-weight: 300;
    font-size: 1.5rem;
}
.casesTexts p{
    text-align: center;
    font-size: 0.8rem;
}
.caseImg{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.caseImg .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.caseImg .row .col{
display: flex;
flex-direction: column;
margin-bottom: 4px;

}
.caseImg .row .col img{
    width: 100%;
    margin-right: 10px;
}



/* <!-- Blog -->*/
.blog {
    margin-top: 3rem;
}
.blog .row{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
}
.blog .column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.blog .column-1, .blog .column-2{
height: 100%;
}
.blog .column-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog .column-2{
    background-color: #0284D0;
    color: white;
    padding: 0.2rem 2rem 1.5rem 2rem;
    height: 100%;
    text-align: center;
}
.blog .column-2 h4{
    font-weight: bold;
}
.blog .column-2 h2{
    font-size: 1.3rem;
}
.blog .column-2 p{
    line-height: 1rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
.blog .column-2 a{
    
    border: 1px solid white;
    background-color: transparent;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   
}







.ourText{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ourText h5{
    font-weight: bold;
}
.ourText h1{
    font-weight: 300;
    font-size: 1.4rem;
}
.ourText p{
    font-size: 0.8rem;
    text-align: center;
}

.ourPers .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.ourPers .col {
   
    flex: 1;
}

.ourPers .col img{
    height: 20vh;
    width: 29vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}






.callBack{
    margin-top: 3rem;
}
.callBack .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.callBack .row .column{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.callBack .row .column-1{
  
    height: 100%;
}
    .callBack .row img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
    }
  

.callBack .row .column-2{
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 30px;
   
}
.callBack .row .column-2 h2{
    
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 300;
}
.callBack .row .column-2 form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.callBack .row .column-2 form input{
    border: none;
    height: 40px;
    margin-bottom: 1.5rem;
   
    
}
.callBack .row .column-2 form input:focus{
    outline-color: var(--color-1);
}
.callBack .row .column-2 form button{
    height: 40px;
    background-color: var(--color-1);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.footer .container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    background-color: var(--color-3);
    color: white;

}
.footer .container-footer .fontawsome{
    display: flex;
    justify-content: space-around;
}
.footer .container-footer .fontawsome > div{
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.footer .container-footer > div:last-child{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.7rem;
}